footer {
  background-color: var(--light-color);
  border-top: 1px solid var(--border-subtle);
  color: var(--dark-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  box-sizing: border-box;
  width: var(--layout-width);
  max-width: var(--layout-max-width);
  margin-inline: auto;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
